html {
  background-image: url("wallpaper.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: whitesmoke;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

img {
  width: 25vw;
}

hr {
  width: 100%;
}

.SingleImages {
  width: 75vw;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  padding: 15px;
  background: darkgray;
  top: 0;
}

.NavLink {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: right;
  font-weight: bold;
  padding: 15px;
  text-align: right;
}


.NavTitle {
  font-size: larger;
  align-self: center;
}

.ProductsList {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  color: black;
  font-size: 1.25rem;
}

.ProductsInList {
  display: flex;
  margin: 15px;
  padding: 15px;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: black;
  font-size: 1.25rem;
  text-align: center;
  border: solid 2px black;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.05)
}

.ProdListAniDesc {
  display: flex;
  width: 25vw;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  color: black;
  font-size: 1.25rem;
  overflow: auto;
}

@media only screen and (max-width: 449px) {
  img {
    display: none;
  }
  .ProdListAniDesc {
    display: none;
  }
}

.SingleAnimalInfo {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.25rem;
  text-align: center;
}

.CartAddPopUp {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;  
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

.Sort {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.25rem;
}

@media only screen and (max-width: 599px) {
  .Sort{
    display: none;
  }
}

.Search {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.5rem;
}

.Misc,
.Register,
.Login {
  display: flex;
  flex-direction: column;
  flex-wrap: column wrap;
  align-items: center;
  text-align: center;
}

.Cart,
.MyOrders {
  display: flex;
  flex-direction: column;
  flex-wrap: column wrap;
  align-items: center;
  text-align: center;
}

.CartItems {
  border: solid 2px black;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.05);
  margin: 15px;
  padding: 50px;
}

/* Link Rules */
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: limegreen;
  text-decoration: none;
  transition: color 200ms linear 60ms;
}
a:active {
  color: lime;
  text-decoration: none;
  transition: color 100ms linear 30ms;
}

/* Button Rules */

button {
  color: black;
  width: 150px;
  background: slategray;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
  cursor: pointer;
  height: 45px;
}

button:hover {
  background: limegreen;
  text-decoration: none;
  transition: color 200ms linear 60ms;
}
button:active {
  background: lime;
  text-decoration: none;
  transition: color 100ms linear 30ms;
}